@import "utils/fonts";
@import "common/global";

body {
  background: #110101 url(../images/main-bg.jpg) 0 0/cover no-repeat;
  background-attachment: fixed;
  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: -1;
  }
}

.main {
  position: relative;
  height: 100vh;
  &-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__title {
    margin-bottom: 70px;
    color: #fff;
    text-align: center;
    font-size: 70px;
  }
  .cards {
    display: flex;
    justify-content: center;
    &__item {
      display: block;
      margin: 0 30px 25px;
      border-radius: 20px;
      overflow: hidden;
      transition: .2s ease-in;
      &:hover {
        transform: scale(1.07);
      }
      img {
        width: 100%;
      }
    }
  }
  .card {
    &__name {
      color: #fff;
      font-size: 24px;
      text-align: center;
    }
  }
}

.home-page {
  .cards {
    &__item {
      width: 412px;
      height: 615px;
    }
  }
}

.type-of-cards {
  .cards {
    &__item {
      width: 370px;
      height: 615px;
    }
  }
}

.wrap {
  padding-bottom: 50px;
  .title {
    color: #fff;
    font-size: 48px;
    &-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 60px;
      img {
        max-width: 70px;
        margin: 0 30px;
      }
    }
  }
  .search {
    position: relative;
    margin-bottom: 60px;
    &::before {
      content: '';
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 11px;
      left: 10px;
      background: url(../images/icon-search.png) 0/cover no-repeat;
    }
    input {
      width: 100%;
      height: 60px;
      padding: 0 30px 0 60px;
      border-radius: 6px;
      outline: none;
      font-size: 30px;
    }
  }

  .cards {
    .card-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 40px;
      margin-bottom: 40px;
      border-bottom: 1px solid #91919163;
      &:last-child {
        border: 0;
      }
      &__title {
        margin-bottom: 30px;
        color: #fff;
        font-size: 32px;
      }
      img {
        width: 35%;
      }
    }
  }
}

.back {
  display: flex;
  align-items: center;
  background: transparent;
  border: 0;
  margin: 30px 0;
  color: #fff;
  font-size: 27px;
  cursor: pointer;

  img {
    width: 18px;
    margin-right: 10px;
  }
}